header, nav, section, footer {
    border: solid 1px black;
    padding: 10px;
}

div {
    display: flex;
}

.vpravo {
    float: right;
}
li {
    list-style-type: none;
    padding-bottom: 10px;
}
a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    color: aquamarine;
    background-color: blueviolet;
}