body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1a;
}

.time-container {
  display: flex;
  gap: 20px;
}

.clock-background {
  flex: 1;
  width: 500px;
  height: 500px;
}

.time-calculator {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fff;
}

select,
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

select:hover,
button:hover {
  background-color: #555;
  transform: translateY(-2px);
}

h2 {
  margin-top: 30px;
  font-size: 2rem;
  color: #fff;
}


