@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  padding: 0;
  margin: 0;
}

::selection {
  color: white;
  background-color: #36b392;
}

.dark-mode {
  filter: invert(95%);
}


body {
  background-color: white;
}

.menu {
  padding-top: 15%;
  text-align: center;
}
.actual-subject {
  padding-top: 10%;
}

hr {
  width: 25%;
  margin: 0 auto;
  background-color: #dde1e6;
  height: 2px;
  border: none;
}

.subjects hr {
  width: 100%;
}

h1 {
  font-size: 70px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  color: #15cc9c;
}

h1 > a {
  text-decoration: none;
  color: #15cc9c;
}

h2 {
  font-size: 45px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  color: #15cc9c;
}

h2 > a {
  text-decoration: none;
  color: #15cc9c;
}

h3 {
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  color: #15cc9c;
}

h3 > a {
  text-decoration: none;
  color: #15cc9c;
}
h1 > a:hover,
h2 > a:hover,
h3 > a:hover {
  color: #32997f;
}

.subjects {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-auto-flow: row;
  grid-gap: 40px;
  margin-top: 50px;
  font-family: 'Nunito', sans-serif;
  justify-items: center;
  justify-content: center;
}

.rocnik {
  grid-template-columns: repeat(2, 100px);
}

.aj {
  grid-template-columns: repeat(2, 100px);
  grid-gap: 100px;
}

.mae {
  grid-template-columns: repeat(1, 100px);
}

.pik {
  grid-template-columns: repeat(3, 100px);
  grid-gap: 100px;
}

.mrs {
  grid-template-columns: repeat(2, 100px);
  grid-gap: 200px;
}

.subject {
  text-decoration: none;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: #43ba9a;
  border-radius: 5px;
  display: block;
  min-width: 100px;
  user-select: none;
  cursor: pointer;
}

.mrs .subject {
  min-width: 200px;
}

.disabled {
  background-color: #43ba9a88;
  pointer-events: none;
}


.subject:hover {
  background-color: #32997f;
}

.content {
  display: block;
  padding: 5%;
  text-align: center;
}

.content a {
  text-decoration: none;
  display: flex;
  font-size: 20px;
}

.download {
  color: red;
  justify-content: center;
  padding-top: 35px;
}

.content a:hover {
  text-decoration: underline;
}

.nadpis {
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  text-decoration: underline;
}

.other-content {
  padding-top: 35px;
}

.other-content a {
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
  justify-content: center;
  color: black;
}

.pdf {
  padding-top: 2%;
  font-family: 'Nunito', sans-serif;
}

.docx {
  padding-top: 2%;
  font-family: 'Nunito', sans-serif;
}

.format-text {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.pik .format-text {
  font-size: 20px;
}

ol {
  display: inline-block;
  font-size: larger;
  margin-left: 170px;
  text-align: initial;
}

ul {
  list-style: none;
}

#aj_testy p {
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }

  ol {
    font-size: larger;
    margin-left: 50px;
  }
}